<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://cdn4.iconfinder.com/data/icons/logos-brands-5/24/auth0-512.png"
        alt="" width="120px" height="100px">
    <h1 class="display-5 fw-bold text-body-emphasis">login Auth0</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Favor loguearse para poder continuar a la aplicacion Instapic</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" (click)="login()" class="btn btn-primary btn-lg px-4 gap-3">login</button>
        </div>
    </div>
</div>