<section class="modal" >
    <div class="modal-container">
        <div class="image">
            <img src="../../../assets/cat-1045782_1920.jpg" alt="">
        </div>
        <div class="comentarios">
            <h2 class="centrar">Comentarios</h2>
            <div class="parrafos">
                <div>
                    <p>
                        Que hermosa imagen muy linda me encanta enserio cuidate
                    </p>           
                </div>
                <div>
                    <p>
                        Hermosa criatura cuidate te amo
                    </p>           
                </div>
                <div>
                    <input type="text" placeholder="Escribe un comentario">
                </div>              
            </div>

        </div>

    </div>
</section>