<div class="py-5 text-center">
    <section>
        <h2>Mensajes</h2>
        <div>
            <a href="#" class="usuarios">
                <div class="user-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="user-name">
                    John Doe Aristisabal
                </div>
            </a>
        </div>

        <div>
            <a href="#" class="usuarios">
                <div class="user-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="user-name">
                    Sebastian Vanegas Garzon
                </div>
            </a>
        </div>

        <div>
            <a href="#" class="usuarios">
                <div class="user-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="user-name">
                    Alexander Usuga Patiño
                </div>
            </a>
        </div>
    </section>
</div>
