.galeria{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    min-width: 260px;
    margin: auto;
    width: 50%;
    border-radius: 5px;
    padding: 5px 10px;
    gap: 10px;
}

.foto{
    margin: auto;
}

.foto img{

    border-radius: 20px;
    width: 230px;
    height: 150px;
    border: 2px solid #000;
}