@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html{
    height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
}

body {
    background: linear-gradient(to bottom, rgb(116, 116, 207), pink);
    height: 100%;
}
